@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,200;1,300;1,600&display=swap');
:root {
    --white-color: #FBFBFA;
    --red-color: #EA1953;
    --black-color: #222222;
    --text-color: #B2B2B2;
}

/*====utilities=====*/
a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.btn {
    border: 0;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--red-color);
    color: var(--white-color);
}

.btn:hover {
    background-color: var(--white-color);
    border: 1px solid var(--red-color);
    color: var(--red-color);
}

h1 {
    font-size: 2.5rem;
}

p {
    color: var(--text-color);
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

section {
    padding: 25px 0;
}

.container {
    padding: 2rem 5rem;
    margin: 0 auto;
}

span {
    color: var(--red-color);
}

/*====HEADER=====*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    background-color: var(--white-color);
    z-index: 1000;
}

.header_scroll {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

/*=====NAV=====*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    transition: all .3s;
}

.logo img{
    width: 4rem;
    height: auto;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_link {
    padding: 10px 20px;
    color: var(--black-color);
    font-weight: bold;
    cursor: pointer;
}

.nav_link:hover {
    background-color:var(--red-color);
    border-radius: 15px;
    color: var(--white-color);
}

.nav_link.active {
    background-color:var(--red-color);
    border-radius: 15px;
    color: var(--white-color);
}

.side_menu i{
    color: var(--white-color);
    background-color: var(--red-color);
    border-radius: 50%;
    padding: 10px;
    margin-left: 15px;
    cursor: pointer;
}

.side_menu .hamburger {
    display: none;
}

.serach_bar {
    position: relative;
}

 input{
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border-radius: 20px;
    outline: none;
    border: 0;
    margin-left: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
}

.search_icon {
    position: absolute;
    top: 0;
    right: 0;
}

/*=====HERO=====*/
.hero .hero_img {
    height: 100%;
    width: 100%;
}

.hero_details {
    padding-top: 12rem;
}

.hero_details h4 {
    font-size: 2rem;
    color: var(--red-color);
    font-style: italic;
}

.hero_details h1 {
    margin-top: 1rem;
    line-height: 1;
    color: var(--white-color);
    font-style: italic;
    font-weight: bold;
}

.hero_details p {
    color: var(--white-color);
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.button {
    gap: 1rem;
    
}


.btn_primary:hover {
    background-color: var(--white-color);
    color: var(--red-color);
}

.btn_secondary {
    border: 0;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--red-color);
}

.btn_secondary:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}

/*=====ABOUT=====*/

.about_details {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.about_content h1 {
    line-height: 1.2;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about_content p {
    margin-bottom: 1.5rem;
    color: var(--text-color);
}


/*=====SERVICE=====*/
.service_inner {
    text-align: center;
}

.service_inner h1 {
    margin-bottom: 1rem;
}

.service_content {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
}

.service_card {
    text-align: center;
}

.service_card img {
    width: 200px;
    border-radius: 50%;
    padding: 20px;
    border: 1px solid var(--red-color);
}


.service_card h5 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.service_btn {
    text-align: center;
    margin-top: 1.5rem;
}

/*=====TESTIMONIAL=====*/
.testimonial {
    background: url('/assets/img/tes.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.testimonial_details {
    text-align: center;
    padding-top: 2rem;
}

.testimonial_details i{
    color: var(--red-color);
}

.testimonial_details p {
    margin-top: 1rem;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.testimonial_details img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.testimonial_details h4 {
    color: var(--red-color);
}

.testimonial_details span {
    color: var(--white-color);
}

.swiper .swiper-pagination {
    opacity: 0;
}
/*=====NEWSLETTER=====*/
.newsletter {
    margin: 5rem 0;
}

.newsletter_details {
    background-color: var(--red-color);
    text-align: center;
    padding: 2rem 20rem;
    border-radius: 20px;
}

.newsletter_details h1 {
    color: var(--white-color);
}

.newsletter_details p {
    color: var(--white-color);
    margin-bottom: 1rem;
}

.newsletter_form {
    position: relative;
}

.newsletter_form input {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border-radius: 20px;
    outline: none;
    border: 0;
    margin-left: 10px;
    color: var(--text-color);
}

.newsletter_form i {
    color: var(--red-color);
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 20px;
}

/*====FOOTER=====*/
.footer {
    background-color: var(--black-color);
}

.footer_content {
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
}

.footer_img .img img {
    width: 100px;
    margin-bottom: 1rem;
}

.footer_img img {
    width: 50px;
}

.footer_list h4{
    color: var(--white-color);
    font-size: 1.2rem;
}

.footer_item {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.footer_item p {
    color: var(--white-color);
}

.footer_item p .footer_link {
    color: var(--white-color);
}

.footer_form  {
    position: relative;
    margin-top: 1rem;
}

.footer_form input {
    margin-left: 0;
}

.footer_form i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--red-color);
}

.social_media {
    margin-top: 1rem;
}

.social_media i {
    background-color: var(--white-color);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.social_media i:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}

address, h5 {
    color: var(--white-color);
}

address, .number, .email {
    color: var(--white-color);
}

.copyright {
    margin-top: 1.5rem;
    justify-content: space-between;
    padding-top: 0.8rem;
    border-top: 1px solid var(--text-color);
}

p .footer_link {
    color: var(--white-color);
}